.transparent {
    -fx-background-color: transparent;
}

.transparent .scroll-bar:vertical, .transparent .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-width: 8;
    -fx-pref-height: 12;
}

.transparent .scroll-bar:vertical .thumb, .transparent .scroll-bar:horizontal .thumb {
    -fx-background-color: #bbbbbb;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

.transparent .scroll-bar:vertical .thumb:hover, .transparent .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #8f8f8f;
}

.transparent .scroll-bar:vertical:disabled,
.transparent .scroll-bar:horizontal:disabled {
    -fx-opacity: 0;
}

.transparent .scroll-bar:vertical .track, .transparent .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
}

.button:focused {
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:pressed {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.button-with-image {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.button-with-image .text {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-alignment: center;
}

.separator-padding {
    -fx-padding: 20px 0px;
}

.malzeme-ekle-btn {
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
}

.malzeme-ekle-btn:pressed {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.search-box {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-padding: 5px 5px 5px 20px;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-prompt-text-fill: gray;
    -fx-pref-width: 300px;
}

.search-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5px 15px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.search-button:hover {
    -fx-background-color: #464646;
}

.search-button:pressed {
    -fx-background-color: #6e6e6e;
    -fx-text-fill: white;
}